<div class="media">
  <div class="media__image">
    <svg class="icon icon--primary">
      <use xlink:href="images/sprite.svg#menu"></use>
    </svg>
  </div>
  <div class="media__body">
    <h3 class="media__title">Easy Start & Managed Updates</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit nam delectus
      in reiciendis possimus rem quibusdam aperiam, ex perspiciatis qui id
      cumque est ea voluptas vitae asperiores accusantium consectetur ipsam
      ullam deserunt quas. Dignissimos similique voluptates quo? Ullam,
      cupiditate nostrum! Corrupti ratione asperiores eius consectetur magnam
      facilis assumenda repudiandae facere.
    </p>
  </div>
</div>
